*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}


/* NAVBAR  */

nav  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  text-transform: uppercase;
}

nav  ul  li {
  float: left;
}

nav  ul  li  a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav  ul  li  a:hover {
  color: green;
  text-decoration: underline;
}

.active {
  margin-top: 15px;
  margin-right: 20px;
  float:right;
  cursor: pointer;
}

/* SWATCH */
.swatch-attribute{
  width: 20px;
  height: 20px;
  border: 1px solid silver;
}

.text-attribute{
  color: black;
  width: fit-content;
  height: fit-content;
  border: 1px solid silver;
}

.selected-attribute{
  color: green;
  width: fit-content;
  height: fit-content;
  border: 2px solid red;
}

.mini-cart{
  background-color: antiquewhite;
  width: 300px;
  height: fit-content;
  float: right;
  margin-right: 20px;
}
